@charset "utf-8";
/* CSS Document */
body{background:#f6f6f6; margin:0 auto; padding: 0; font-family: "微软雅黑"; color:#434546;}
a{ outline: none; text-decoration: none;}
img{ border: none; outline: none;}
ul,li,p{ margin:0; padding:0;}
ul,li{ list-style-type:none;}
em,i{ font-style:normal;}
table{font-weight:normal;border-collapse: collapse;border-spacing: 0;}



.per_icon_list{ width: 100%; overflow: hidden; border-top: 1px solid #eee; margin-top: 8px;}



.my_photo{ width: 100%; overflow: hidden; position: relative; color: #fff; text-align: center; line-height: 26px; padding-bottom: 10px;}
.my_photo img.my_img{ width: 70px; height: 70px;border-radius: 50%; border:1px solid #fff; margin-top: 15px;}

.xs_price{ width: 100%; overflow: hidden; background: #fff; padding: 8px 0 10px; border-bottom: 1px solid #eee;}
.xs_price span{ display: block; float: left; width: 50%; text-align: center; font-size: 16px;}
.xs_price span em{ display: block; border-right: 1px solid #eee;}
.xs_price span i{ display: block;}
.xs_price span .price{ color: #eb514f; padding-bottom: 2px;}

.per_icon_list ul{ width: 100%; overflow: hidden; padding-top: 5px;padding-bottom: 10px;}
.per_icon_list ul li{ width: 80%; margin-left: 10%; border-bottom: 1px dashed #dcdcdc;  line-height: 32px;}
.per_icon_list ul li:last-child{border-bottom: 0;}
.per_icon_list ul li a{ color: #000; font-size: 15px; line-height: 36px; padding-left: 10px;}
.footer_in{ width: 100%; overflow: hidden; margin-top: 5px;}
.in{position:relative; height:2.8rem;   background-color:#B9B9B9;}
.search_box{position:relative; top:0.4rem; width: 66%; background:#fff; border-radius:20px; text-align:center;margin: 0 auto;overflow: hidden;}
	.search_box input{width:85%; height:2rem; line-height: normal; border:none; font-size:0.8rem }
	.search_box button{position:absolute; top:0.4rem; right:0.6rem; width:1.2rem; height:1.2rem;   border:none;}
	#search_box{padding:0 3.2rem 0 1rem;position:relative;background-color:#ec5151; height:3rem; top:-3rem; display:none  }
	#search_box .search_box{position:relative; top:0.5rem; }
	#search_box .ico_08{position:absolute; top:0; right:0; display:block;width: 3rem;height:3rem; padding: 0 0.2rem;}
	#search_box2{padding:0 3.2rem; height:3rem; top:-3rem;  }
	#search_box2 .search_box{position:relative; top:0.5rem; }
	.homeBtn,.gotop{position:absolute; top:0; width:2.8rem; height:2.8rem; color:#fff; font-size:0.65rem;}
	.gotop,.homeBtn{background:#a1a1a1;}
	.homeBtn{left:0;}
	.homeBtn span{position:absolute; left:0.5rem; top:0.5rem;}
	.gotop{right:0;}
	.gotop span{position:absolute; left:50%; top:0.8rem; width:0.9rem; height:0.9rem; margin:-0.3rem 0 0 -0.3rem;}
	.gotop p{position:absolute; bottom:0.14rem; left:0.45rem; width:2.2rem;}
	.ico_05{background:url(../images/ico_05.png) no-repeat 50% 50%; -webkit-background-size:1.8rem 1.8rem;-moz-background-size:1.8rem 1.8rem;background-size:1.8rem 1.8rem; width:1.8rem; height:1.8rem}
	.ico_06{background:url(../images/ico_06.png)  no-repeat 50% 50%; -webkit-background-size:1.0rem 1.0rem;-moz-background-size:1.0rem 1.0rem;background-size:1.0rem 1.0rem; width:1.0rem; height:1.0rem}
	.ico_07{background:url(../images/ico_07.png)  no-repeat 50% 50%;-webkit-background-size:1.2rem 1.2rem;-moz-background-size:1.2rem 1.2rem;background-size:1.2rem 1.2rem; width:1.2rem; height:1.2rem}
	.footer_in p{text-align:center;line-height: 1.3rem;}


.td{background: #fff}
.per_icon_list h3{padding: 3%;border-bottom:1px solid #ddd;}
.per_icon_list h3 img{width: 10%;vertical-align: middle;padding-right: 10px;}

