<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>优享商城</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />

    <!-- Link Swiper's CSS -->
    
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/foot.css">

    <link rel="stylesheet" href="__CSS__/head.css">
    <link rel="stylesheet" href="__ICON__/iconfont.css">
    <script type="text/javascript" src="__JS__/jquery-1.7.1.min.js"></script>

    <script type="text/javascript" src="__JS__/jquery.touchSlider.js"></script>    
    <!-- Demo styles -->

</head>
<body style="background: #f4f4f4;">
<div class="header">
    <div class="header_l">
      <a href="javascript:window.history.go(-1);"><img src="__IMG__/lpg.png" alt=""><span>支付成功</span></a>
   
    </div>
    <div class="header_c"><h1></h1></div>
    <div class="header_r"><a href=""></a></div>
    <!-- <span><a href=""><img src="" alt=""></a></span> -->
</div>

<div class="receipt">
    <h3>您已付款，等待商家发货！</h3>
    <p class="shr">收货人：毅毅 <span>3246858306</span></p>
    <p class="shdz"><i class="iconfont">&#xe619;</i>收货地址：广东省广州市花都区新华镇新华街道迎宾大道123号名高中心3楼</p>

    <div class="ment_an">
        <a href="">查看订单</a>
        <a href="{:U('Home/index')}">返回首页</a>
    </div>
    <div style="clear: both;"></div>
</div>



</body>
</html>
