<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> 优享商城</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />

    <!-- Link Swiper's CSS -->

    <link rel="stylesheet" type="text/css" href="__CSS__/style.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/foot.css">

    <link rel="stylesheet" href="__CSS__/head.css">
    <link rel="stylesheet" href="__ICON__/iconfont.css">
    <script type="text/javascript" src="__JS__/jquery-1.7.1.min.js"></script>

    <script type="text/javascript" src="__JS__/jquery.touchSlider.js"></script>
    <!-- Demo styles -->


</head>
<body style="background: #f4f4f4;">
<div class="header">
    <div class="header_l">
      <a href="javascript:window.history.go(-1);"><img src="__IMG__/lpg.png" alt=""><span>通知消息</span></a>

    </div>
    <div class="header_c"><h1></h1></div>
    <div class="header_r"><a href=""></a></div>
    <!-- <span><a href=""><img src="" alt=""></a></span> -->
</div>

<div class="notice">
    <p style="text-align: center;">2017年7月17号</p>
    <div class="notice_nr">
        <h3>你有可领取的会员卡</h3>
        <p class="txb"><img src="__IMG__/tt1.jpg" alt=""></p>
        <p class="tnr">您可领取“QBXX STUDIO铅笔小新”店铺的会员卡！</p>
        <div style="clear: both;"></div>
    </div>
</div>

<div class="notice">
    <p style="text-align: center;">2017年7月10号</p>
    <div class="notice_nr">
        <h3>你有30.0天猫商城的购物券即将过期</h3>
        <p class="txb"><img src="__IMG__/tt2.jpg" alt=""></p>
        <p class="tnr">您的天猫商城购物券今天即将到期，赶紧使用吧！</p>
        <div style="clear: both;"></div>
    </div>
</div>

<div class="notice">
    <p style="text-align: center;">2017年7月05号</p>
    <div class="notice_nr">
        <h3>关注的品牌即将开抢</h3>
        <p class="txb"><img src="__IMG__/tt1.jpg" alt=""></p>
        <p class="tnr">你关注的品牌QBXX STUDIO铅笔小新 即将开启！</p>
        <div style="clear: both;"></div>
    </div>
</div>

</body>
</html>
