<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>商家系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>

    <!-- Link Swiper's CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="iconfont/iconfont.css"> -->
    <script type="text/javascript" src="__JS__/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="__JS__/postbird-img-glass.js"></script>
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css">
    <link rel="stylesheet" type="text/css" href="__RES__/iconfont/iconfont.css">

    <!-- <link rel="stylesheet" href="__CSS__/swiper.min.css"> -->
    <link rel="stylesheet" href="__CSS__/head.css">

    <link rel="stylesheet" href="__CSS__/css.css">
    <script type="text/javascript" src="__JS__/area.js"></script>

    <!--弹框JS-->
    <script type="text/javascript" src="__LAYERJS__layer.js"></script>
    <!-- Demo styles -->
    <style>
    	.buynow ul{padding-left:5%;}
		.buynow ul li{height:15vmin; position:relative; padding:1vmin 0; clear:both;}
		.buynow ul li i{margin-top:0.8vmin;}

		.buynowh3{background-color:#fff; font-size:3.7vmin;}
		.buynow ul li span{display:block; width:40%; height:18vmin; line-height:18vmmin; position:relative; float:left; vertical-align:middle;}
		.buynow ul li div{width:50%; height:18vmin; line-height:18vmmin; position:absolute; float:right; right:0; text-align:right; padding-right:3%;}
		.buynow ul li div .codeimg{display:inline-block; width:11vmin; height:11vmin; background-color:#ccc; vertical-align:middle; margin-right:1vmin; vertical-align:middle;}
		.img_mar{display:inline-block; width:6vmin; height:6vmin; vertical-align:middle;}
    </style>
</head>
<body style="background: #f6f5fb;" data-id="{$order['order_no']}">
<div id="shadow_div"
     style="width: 100%;height: 100%;position: fixed;background: rgba(43, 41, 41, 0.7);z-index: 600;display: none;">
    <div id="pay_win" style="width: 80%;height: 40%;position: absolute;top: 25%;left: 10%;background: white;z-index: 601;">
        <div style="width: 100%;
                height: 12%;
                border-bottom: 0.5px solid #d2caca;
                float: left;
                text-align: center;
                padding-top: 5%;">
        请输入支付密码
        </div>
        <div id="pay_close" style="position: absolute;right: 3%;top: 4%;">X
        </div>
        <div style="clear: both;"></div>
        <div style="width: 100%;height: 20%;" align="center">
            <p style="font-size: 14px;padding: 3% 0;">支付金额</p>
            <p> <span class="buyprice" style="    font-size: 20px;font-weight: bold">￥{$order['buy_price']}</span></p>
        </div>
        <div style="width: 100%;height: 20%;" align="center">
            <input type="password" name="pay_pwd" placeholder="请输入支付密码"
                   style="width: 80%;height: 60%;padding: 2% 4%; margin-top: 5%;border: 1px solid #ddd;"/>
        </div>
        <div style="width: 100%;height: 20%;margin-top: 11%;" align="center">
            <button id="pay_submit" style="    width: 88%;height: 50px;margin: 0;background: red;border-radius: 5px;border: none;color: #fff;font-size: 16px;">
                确认支付
            </button>
        </div>
        <div style="width: 100%;height: 20%;" align="center"></div>
    </div>
</div>

<!--
<div class="header">
    <div class="header_l">
        <a href="{:U('shop/car/shopping')}"><img src="__IMG__/lpg.png" alt=""></a>

    </div>
    <div class="header_c"><h1>支付方式 </h1></div>
    <div class="header_r"></div>

</div>
-->

<div class="header">
    <div class="header_l" style="width: 15%;">
        <a href="{:U('shop/home/index')}"><img src="__IMG__/b1.png" alt=""></a>
    </div>
    <div class="header_c" style="width: 70%;"> <h1 style="color:#000">支付</h1></div>
    <!--<div class="header_r" style="width: 15%;"><a href="{:U('Public/news')}"><em class="xxd"></em><i class="iconfont"></i><p>消息</p></a></div>-->
    <!-- <span><a href=""><img src="" alt=""></a></span> -->
</div>

<div class="buynowh3">
    请选择付款方式扫码支付
</div>

<form action="{:U('Pay/index')}" name="form1" method="POST">
    <input type="hidden" name="id" value="<?php echo $_GET['id']; ?>">
    <div class="img-container buynow">
        <ul>
         	<li><span><i class="iconfont" style="color:#1abb0e;">&#xe603</i> </span><div><img src="__IMG__/2code.png" class="codeimg"><img src="__IMG__/icon_editnext.png" class="img_mar"></div></li>
            <li><span><i class="iconfont" style="color:#1abb0e;">&#xe603</i> 微信</span><div><img src="__IMG__/2code.png" class="codeimg"><img src="__IMG__/icon_editnext.png" class="img_mar"></div></li>
            <li><span><i class="iconfont" style="color:#009fe8;">&#xe7da</i> 支付宝</span><div><img src="__IMG__/2code.png" class="codeimg"><img src="__IMG__/icon_editnext.png" class="img_mar"></div></li>
             <li><span><i class="iconfont" style="color:#009fe8;">&#xe7da</i> 网银支付</span><div><img src="__IMG__/icon_editnext.png" class="img_mar"></div></li>

      </ul>
    </div>
    <div style="height: 10vmin;"></div>
    <div class="submit" style="display:none"><a id="pay_yes">确认支付</a></div>
</form>


<script type="text/javascript">

    /*选中消费积分支付不显示赠送积分*/
    $("input[name='paytype']").change(function () {
        var pay_type = $("input[name='paytype']:checked").val();
        if (pay_type == 4) {
            $('.paytypes').hide();
        } else {
            $('.paytypes').show();
        }
    });

    $("#pay_yes").click(function () {
        $("#shadow_div").show("200");
    });

    $("#pay_close").click(function () {
        $("#shadow_div").hide("200");
    });


    $("#pay_submit").click(function () {
        //验证数据
        var pay_type = $("input[name='paytype']:checked").val();
        var ono = $("body").attr("data-id");
        var pwd = $("input[name='pay_pwd']").val();
        var or_no = $("body").attr("data-id");
        $(".order_no").val(ono);
        /*选择积分类型*/
        var jifentypes = $("#jifentype").val();

        if (!pwd) {
            layer.msg('请输入二级密码', {icon: 5,time: 1500});
            return;
        }

        if (!ono) {
            layer.msg('该订单不存在', {icon: 5,time: 1500});
            return;
        }

        $.post("/Shop/Pay/pay", {ptype: pay_type, ono: ono, pwd: pwd, jifentypes: jifentypes}, function (data) {
            if (data.status == "1") {
                if(data.info == 2){
                    window.location.href = "{:U('Shop/pay/apily',array('order_no'=>$order['order_no']))}";
                    return;
                }
                layer.msg(data.info, {icon: 1,time: 1500}, function () {
                    $("#shadow_div").hide("200");
                    window.location.href = "{:U('/shop/home/index')}";
                });
            } else {
                layer.msg(data.info, {shift: -1, time: 1500}, function () {
                });
            }
        }, "json");
    });


    $('.buynow ul li span').click(function () {
        var type = $(this).hasClass('xzan');
        var old = $(this);
        if (type == false) {
            old.removeClass('qxana').addClass('xzan');
        } else {
            old.removeClass('xzan').addClass('qxana');
        }
        old.parent('li').siblings('li').children('span').removeClass('xzan').addClass('qxana');
    })

</script>
<script>
        PostbirdImgGlass.init({
            domSelector:".img-container img",
            animation:true
        });
    </script>
</body>
</html>
