<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>优享商城</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />

    <!-- Link Swiper's CSS -->
    
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/foot.css">

    <link rel="stylesheet" href="__CSS__/head.css">
    <link rel="stylesheet" href="__ICON__/iconfont.css">
  
    <!-- Demo styles -->
</head>
<body>
<div class="header">
    <div class="header_l" style="width: 15%;">
      <!-- <a href="personal.html"><img src="images/lpg.png" alt=""></a> -->
   
    </div>
    <div class="header_c" style="width: 70%;"> <h1 style="color:#000">动态</h1></div>
    <div class="header_r" style="width: 15%;"><a href="{:U('Public/news')}"><em class="xxd"></em><i class="iconfont"></i><p>消息</p></a></div>
    <!-- <span><a href=""><img src="" alt=""></a></span> -->
</div>

<div class="namic">
    <h3><i class="iconfont">&#xe68c;</i>标题<span>发表于11月21日</span></h3>
    <div class="namicsb"><img src="__IMG__/sb.jpg" alt=""><em><i class="iconfont">&#xe511;</i>200</em></div>
    <p>简洁的表达你的想法，那只能说明你还不够了解你自己简洁的表达你的想法，那只能说明你还不够了解你自己简洁的表达你的想法，那只能说明你还不够了解你自己简洁的表达你的想法，那只能说明你还不够了解你自己</p>
</div>
<div style="height: 2vmin;background: #f4f4f4;"></div>

<div class="namic">
    <h3><i class="iconfont">&#xe650;</i>标题<span>发表于11月21日</span></h3>
    <div class="namicsb_bb">
        <ul>
            <li><img src="__IMG__/d1.jpg" alt=""></li>
            <li><img src="__IMG__/d1.jpg" alt=""></li>
            <li id="marginr0"><img src="__IMG__/d1.jpg" alt=""></li>
            <li><img src="__IMG__/d1.jpg" alt=""></li>
            <li><img src="__IMG__/d1.jpg" alt=""></li>
            <li id="marginr0"><img src="__IMG__/d1.jpg" alt=""></li>
        </ul>
    </div>
</div>


<div style="height: 17vmin;clear: both;"></div>
<footer>
   <a href="{:U('Home/index')}">
        <i class="iconfont iconfoot2" style="color:#fff;">&#xe63a;</i>
        <p>首页</p>
    </a>
    <a href="{:U('Dynamic/dynamic')}" class="active">
        <i class="iconfont iconfoot2" style="color:#000;">&#xe60d;</i>
        <p>动态</p>
    </a>
    <a href="{:U('Car/shopping')}">
        <i class="iconfont iconfoot2" style="color:#fff;font-size: 6vmin;line-height: 8.2vmin;">&#xf0178;</i>
        <p>购物车</p>
    </a>
    <a href="{:U('Member/mine')}" style="padding-top:0px;">
        <i class="iconfont iconfoot2" style="color:#fff;font-size: 6vmin;margin-top:3px;">&#xe642;</i>
        <p style="line-height: 7vmin;">我的</p>
    </a>
</footer>

</body>
</html>
