<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui">
	<title>安资全商城11</title>
	<link rel="stylesheet" href="__RES__/bindex/css/style.css">

	<!-- 轮播图 -->
	<script type="text/javascript" src="__RES__/bindex/js/swiper.min.js"></script>
	<script type="text/javascript" src="__RES__/bindex/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="__RES__/bindex/js/jquery.touchSlider.js"></script>
    <script type="text/javascript" src="__RES__/bindex/js/js.js"></script>

    <!-- 点击弹出右侧 -->
    <link rel="stylesheet" type="text/css" href="__RES__/bindex/css/component.css" />
    <script src="__RES__/bindex/js/modernizr.custom.js"></script>
    <script src="__RES__/bindex/js/jquery.dlmenu.js"></script>



</head>
<body dsfdsf>
	<!-- 轮播图 -->
    <div class="header">
        <div class="header_left">
            <!-- 弹出右侧 -->
            <div id="dl-menu" class="dl-menuwrapper">
                <button><!-- <img src="__RES__/bindex/images/my.png"> --></button>

                <ul class="dl-menu">
                    <div class="menu_top">
                        <p class="xiaoxi">
                            <a href="xiaoxi.html">
                                <img src="__RES__/bindex/images/xiaoxi.jpg">
                                <span id="xx_dian">&nbsp;</span>
                            </a>
                        </p>
                        <p>
                            <a href="shezhi.html"><img src="__RES__/bindex/images/shezhi.jpg"></a>
                        </p>
                    </div>
                    <div class="menu_center">
                        <p id="touxiang"><img src="__RES__/bindex/images/sg3.jpg"></p>
                        <p id="ewm" onclick ="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'"><img src="__RES__/bindex/images/ewm2.jpg"></p>
                    </div>


                    <div class="namy">a2090900</div>

                    <div class="renzheng">
                        <div class="renzheng0 renzheng1"></div>
                        <div class="renzheng0 renzheng2"></div>
                        <div class="renzheng0 renzheng3"></div>
                        <div class="renzheng0 renzheng4"></div>
                        <div class="renzheng0 renzheng5"></div>
                        <div class="renzheng0 renzheng6"></div>
                        <div class="renzheng0 renzheng7"></div>
                    </div>

                    <div style="clear: both;"></div>
                    <div class="menu_bottom">
                        <li>
                            <a href="yhgl.html">
                                <img src="__RES__/bindex/images/a1.jpg">用户管理
                            </a>
                        </li>
                        <li class="xhx">
                            <a href="yhrz.html">
                                <img src="__RES__/bindex/images/a2.jpg">用户认证
                            </a>
                        </li>

                        <li>
                            <a href="wdsc.html">
                                <img src="__RES__/bindex/images/a3.jpg">我的收藏
                            </a>
                        </li>
                        <li>
                            <a href="wdfx.html">
                                <img src="__RES__/bindex/images/a4.jpg">我的分享
                            </a>
                        </li>
                        <li>
                            <a href="xxzz.html">
                                <img src="__RES__/bindex/images/a5.jpg">线下转账
                            </a>
                        </li>
                        <li class="xhx">
                            <a href="lmsj.html">
                                <img src="__RES__/bindex/images/a6.jpg">联盟商家
                            </a>
                        </li>
                        <li>
                            <a href="yhfk.html">
                                <img src="__RES__/bindex/images/a7.jpg">用户反馈
                            </a>
                        </li>
                        <li>
                            <a href="gywm.html">
                                <img src="__RES__/bindex/images/a8.jpg">关于我们
                            </a>
                        </li>
                        <li>
                            <a href="bzzx.html">
                                <img src="__RES__/bindex/images/a9.jpg">帮助中心
                            </a>
                        </li>

                        <span id="tuichu"><a href="###">退出登录<img src="__RES__/bindex/images/a10.jpg"></a></span>
                    </div>

                </ul>
            </div>
            <script>
                $(function() {
                    $( '#dl-menu' ).dlmenu();
                });
            </script>



        </div>
        <div class="header_center">首页</div>
        <div class="header_right">
            <a href="fenxiangma.html"><img src="__RES__/bindex/images/ewm.png"></a>
            <a href="###"><img src="__RES__/bindex/images/sys.png"></a>
        </div>
    </div>
   	<div class="main-content ng-scope" id="main_content">
        <div class="main_visual">
            <div class="flicking_con">
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
            </div>
            <div class="main_image">
                <ul>
                    <li><span class="img_3"><img src="__RES__/bindex/images/banner.jpg"></span></li>
                    <li><span class="img_4"><img src="__RES__/bindex/images/banner.jpg"></span></li>
                    <li><span class="img_1"><img src="__RES__/bindex/images/banner.jpg"></span></li>
                </ul>

                <a href="javascript:;" id="btn_prev"></a>
                <a href="javascript:;" id="btn_next"></a>
            </div>
        </div>

    </div>
    <!-- 轮播图 -->


    <!-- 下分类 -->
    <div class="type">
    	<ul>
    		<li>
    			<a href="{:U('/Home/index')}">
	    			<span><img src="__RES__/bindex/images/fl1.png"></span>
	    			<p>优享商城 </p>
    			</a>
    		</li>
    		<li>
    			<a href="###">
	    			<span><img src="__RES__/bindex/images/fl2.png"></span>
	    			<p>商学院</p>
    			</a>
    		</li>
    		<li>
    			<a href="###">
	    			<span><img src="__RES__/bindex/images/fl3.png"></span>
	    			<p>认证中心</p>
    			</a>
    		</li>
    		<li>
    			<a href="###">
	    			<span><img src="__RES__/bindex/images/fl4.png"></span>
	    			<p>分享二维码</p>
    			</a>
    		</li>
    		<li>
    			<a href="###">
	    			<span><img src="__RES__/bindex/images/fl5.png"></span>
	    			<p>商家搜索</p>
    			</a>
    		</li>
    		<li>
    			<a href="###">
	    			<span><img src="__RES__/bindex/images/fl6.png"></span>
	    			<p>活动抽奖</p>
    			</a>
    		</li>
    		<li>
    			<a href="###">
	    			<span><img src="__RES__/bindex/images/fl7.png"></span>
	    			<p>签到</p>
    			</a>
    		</li>
    		<li>
    			<a href="###">
	    			<span><img src="__RES__/bindex/images/fl8.png"></span>
	    			<p>信息管理</p>
    			</a>
    		</li>
    		<li>
    			<a href="###">
	    			<span><img src="__RES__/bindex/images/fl9.png"></span>
	    			<p>钱包</p>
    			</a>
    		</li>
    		<li>
    			<a href="###">
	    			<span><img src="__RES__/bindex/images/f20.png"></span>
	    			<p>其他</p>
    			</a>
    		</li>
    	</ul>
    </div>
    <!-- 下分类完 -->


    <!-- 热销商品 标题 -->
    <div class="notice">
        <img src="__RES__/bindex/images/zxbt.png" alt="" style="width: 100%;">
    </div>

    <!-- 热销商品 -->
    <div class="youxuan mlrs" style="border-top: 1px solid #e6e6e6">

    		<ul id="mlsr_b">
    			<li>
    				<a href="###">
	    				<p>iFashion</p>
	    				<p class="mlsr_b">春季种草好物</p>
	    				<p><img src="__RES__/bindex/images/m3.jpg"></p>
    				</a>
    			</li>
    			<li>
    				<a href="###">
	    				<p>潮玩城</p>
	    				<p class="mlsr_b">发现发烧装备</p>
	    				<p><img src="__RES__/bindex/images/m4.jpg"></p>
    				</a>
    			</li>
    			<li>
    				<a href="###">
	    				<p>爱手机</p>
	    				<p class="mlsr_b">多少钱鞥买到</p>
	    				<p><img src="__RES__/bindex/images/m5.jpg"></p>
    				</a>
    			</li>
    			<li style="border-right:none">
    				<a href="###">
	    				<p>情侣运动</p>
	    				<p class="mlsr_b">虐狗比带装备</p>
	    				<p><img src="__RES__/bindex/images/m6.jpg"></p>
    				</a>
    			</li>
    		</ul>

            <div class="yx_l">
                <a href="###">
                    <div class="yx_l_t">
                        <p>爱跑一族</p>
                        <p class="mlrsa">冬季就爱这样潮帅范</p>
                        <p class="tupian"><img src="__RES__/bindex/images/m1.jpg"><img src="__RES__/bindex/images/m12.jpg"></p>
                    </div>
                </a>
            </div>

            <div class="yx_l yx_r">
                <a href="###">
                    <div class="yx_l_t">
                        <p>水果</p>
                        <p class="mlrsa">多汁新鲜水果，让你吃到果园的...</p>
                        <p class="tupian"><img src="__RES__/bindex/images/m2.jpg"><img src="__RES__/bindex/images/m22.jpg"></p>
                    </div>
                </a>
            </div>

            <div class="yx_l">
                <a href="###">
                    <div class="yx_l_t">
                        <p>魅力潮男</p>
                        <p class="mlrsa">冬季就爱这样潮帅范</p>
                        <p class="tupian"><img src="__RES__/bindex/images/m3.jpg"><img src="__RES__/bindex/images/m33.jpg"></p>
                    </div>
                </a>
            </div>

            <div class="yx_l yx_r">
                <a href="###">
                    <div class="yx_l_t">
                        <p>美妆</p>
                        <p class="mlrsa">我就爱这个</p>
                        <p class="tupian"><img src="__RES__/bindex/images/m04.jpg"><img src="__RES__/bindex/images/m44.jpg"></p>
                    </div>
                </a>
            </div>

            <div class="yx_l">
                <a href="###">
                    <div class="yx_l_t">
                        <p>潮机汇</p>
                        <p class="mlrsa">轻奢手机，让你酷爱</p>
                        <p class="tupian"><img src="__RES__/bindex/images/m05.jpg"><img src="__RES__/bindex/images/m55.jpg"></p>
                    </div>
                </a>
            </div>

            <div class="yx_l yx_r">
                <a href="###">
                    <div class="yx_l_t">
                        <p>懒人一族</p>
                        <p class="mlrsa">各种免费烹饪的食材</p>
                        <p class="tupian"><img src="__RES__/bindex/images/m06.jpg"><img src="__RES__/bindex/images/m66.jpg"></p>
                    </div>
                </a>
            </div>
    </div>
    <!-- 热销商品 -->

    <!-- 猜你喜欢 标题 -->
    <div class="notice">
        <img src="__RES__/bindex/images/xhbt.png" alt="" style="width: 100%;">
    </div>

    <div class="cpfl_b">
        <ul>
            <li>
                <a href="">
                    <span><img src="__RES__/bindex/images/cp1.jpg"></span>
                    <p>2017秋新款雪坊连衣群收腰大大码复古花大摆上款连衣裙</p>
                    <p style="margin-top:2vmin;"><em>￥168.00</em> <i>免运费</i> <b>已出售0件</b></p>
                    <p class="jiangli">奖励：3000积分</p>
                </a>
            </li>

            <li>
                <a href="">
                    <span><img src="__RES__/bindex/images/cp2.jpg"></span>
                    <p>2017秋新款雪坊连衣群收腰大大码复古花大摆上款连衣裙</p>
                    <p style="margin-top:2vmin;"><em>￥168.00</em> <i>免运费</i> <b>已出售0件</b></p>
                    <p class="jiangli">奖励：3000积分</p>
                </a>
            </li>
            <li>
                <a href="">
                    <span><img src="__RES__/bindex/images/cp3.jpg"></span>
                    <p>2017秋新款雪坊连衣群收腰大大码复古花大摆上款连衣裙</p>
                    <p style="margin-top:2vmin;"><em>￥168.00</em> <i>免运费</i> <b>已出售0件</b></p>
                    <p class="jiangli">奖励：3000积分</p>
                </a>
            </li>

            <li>
                <a href="">
                    <span><img src="__RES__/bindex/images/cp4.jpg"></span>
                    <p>2017秋新款雪坊连衣群收腰大大码复古花大摆上款连衣裙</p>
                    <p style="margin-top:2vmin;"><em>￥168.00</em> <i>免运费</i> <b>已出售0件</b></p>
                    <p class="jiangli">奖励：3000积分</p>
                </a>
            </li>

        </ul>
    </div>

    <!-- 优享头条 标题 -->
    <div class="noticebb">
        <div class="notice_left"><img src="__RES__/bindex/images/gg2.png"></div>
        <div class="notice_right zxzx">
            <p>优享头条<a href="#"><i>更多</i></a></p>
        </div>
    </div>

    <div class="headline">
        <ul>
            <li>
                <a href="">
                    <div class="linel"><img src="__RES__/bindex/images/x1.jpg" alt=""></div>
                    <div class="liner">
                        <h3>一大波重磅新车即将上市，最后那款堪称国民“神车”</h3>
                        <p>眼下东京车展正如火如荼地进行中，砖叔也亲赴前方为砖粉带来第一手报道。作为国内三大车展之</p>
                    </div>
                </a>
                <div class="clear"></div>
            </li>
            <li>
                <a href="">
                    <div class="linel"><img src="__RES__/bindex/images/x1.jpg" alt=""></div>
                    <div class="liner">
                        <h3>一大波重磅新车即将上市，最后那款堪称国民“神车”</h3>
                        <p>眼下东京车展正如火如荼地进行中，砖叔也亲赴前方为砖粉带来第一手报道。作为国内三大车展之</p>
                    </div>
                </a>
                <div class="clear"></div>
            </li>
            <li>
                <a href="">
                    <div class="linel"><img src="__RES__/bindex/images/x1.jpg" alt=""></div>
                    <div class="liner">
                        <h3>一大波重磅新车即将上市，最后那款堪称国民“神车”</h3>
                        <p>眼下东京车展正如火如荼地进行中，砖叔也亲赴前方为砖粉带来第一手报道。作为国内三大车展之</p>
                    </div>
                </a>
                <div class="clear"></div>
            </li>
            <li>
                <a href="">
                    <div class="linel"><img src="__RES__/bindex/images/x1.jpg" alt=""></div>
                    <div class="liner">
                        <h3>一大波重磅新车即将上市，最后那款堪称国民“神车”</h3>
                        <p>眼下东京车展正如火如荼地进行中，砖叔也亲赴前方为砖粉带来第一手报道。作为国内三大车展之</p>
                    </div>
                </a>
                <div class="clear"></div>
            </li>
        </ul>
    </div>







<div style="height:20vmin;float: left;display: block;width: 100%;"></div>

<!-- 底部 -->

<div class="footer">
    <a href="index.html" class="onb">
        <img src="__RES__/bindex/images/footer1-1.png">
        <p>首页</p>
    </a>
     <a href="###">
        <img src="__RES__/bindex/images/footer2.png">
        <p>周边</p>
    </a>
     <a href="###">
        <img src="__RES__/bindex/images/footer3.png">
        <p>钱包</p>
    </a>
</div>


</body>
</html>