<extend name="Public/layout"/>
<block name="style" >
    <link rel="stylesheet" type="text/css" href="__LYUI__/css/lyui.extend.min.css">
    <link rel="stylesheet" type="text/css" href="__ADMIN_CSS__/style.css">
</block>

<block name="main">
   <div id="main" class="col-xs-12 col-sm-9 main" style="overflow-y: scroll;">
        <!-- 面包屑导航 -->
        <ul class="breadcrumb">
            <li><i class="fa fa-map-marker"></i></li>
            <foreach name="_menu_tab['name']" item="tab_v" >
            <li class="text-muted">{$tab_v}</li>
            </foreach>
            <li class="text-muted">{:isset($info)?'修改':新增}</li>
        </ul>

        <!-- 主体内容区域 -->
        <div class="tab-content ct-tab-content">
            <div class="panel-body">
                <div class="builder formbuilder-box">
                    <div class="form-group"></div>
                    <div class="builder-container" >
                            <div class="row" >
                                <div class="col-xs-12">
                                    <form action="__SELF__" method="post" class="form-horizontal form form-builder" enctype="multipart/form-data" >
                                        <div class="form-type-list">
                                            <div class="form-group hidden item_id ">
                                                <label class="left control-label">ID：</label>
                                                <div class="right">
                                                    <input type="hidden" class="form-control input" name="id" value="{$info.id}">
                                                </div>
                                            </div>

                                             <!-- <div class="form-group item_title ">
                                                <label class="left control-label">名称：</label>
                                                <div class="right">
                                                    <input type="text" class="form-control input" name="title" value="{$info.title}" placeholder="标题" >
                                                </div>
                                            </div> -->
 


                                            <div class="form-group">
                                                    <label class="col-sm-3 control-label">名称：</label>
                                                    <div class="col-sm-3">
                                                        <input  type="text" id="title" class="form-control" name="title" value="{$info.title}">
                                                    </div>
                                                </div>

                                                <!-- <div class="form-group">
                                                    <label class="col-sm-3 control-label">链接地址：</label><span style="color:indianred">（示例：http://www.baidu.com ）</span>
                                                    <div class="col-sm-3">
                                                        <input  type="text" id="href" class="form-control" name="href" value="{$data.href}">
                                                    </div>
                                                </div> -->

        
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label" name="picture">图片：</label>
                                                    <div class="col-sm-9">
                                                            <span style="color: brown;font-size: 12px">请上传750*360尺寸图片</span>
                                                        <input type="file" name="picture"/>  
                                                        <notempty name="$data.picture">
                                                                <img width="273px" height="120px" src="{$data.picture|get_cover_url}">       
                                                        </notempty>
                                                      
                                                      
                                                         <!-- <img width="273px" height="120px" src="{$data.picture|get_cover_url}">  -->
                                                        
                                                    </div>
                                                   
                                                </div>
                                                 
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">排序：</label>
                                                    <div class="col-sm-3">
                                                        <input  type="text" id="sort" class="form-control" name="sort" value="{$info.sort}">
                                                    </div>
                                                </div>

                                        <div class="form-group"></div>
                                        <div class="form-group bottom_button_list">
                                           
                                              
                                           <button class="btn btn-primary" type="submit">确定</button>
                                            <a class="btn btn-danger return" onclick="javascript:history.back(-1);return false;">取消</a>
                                        </div>
                                    </div>
                                </form>
                            </div>    
                        </div>
                    </div>
                </div>
        </div>
    </div>                   
</div>
</block>

<block name="script">
    <!-- <script>
        var editor;
        KindEditor.ready(function(K)
        {
            editor = K.create('textarea[name="content"]',
                {
                    allowFileManager : true,
                    afterBlur: function () { this.sync(); }
                });
        }); -->


    </script>
    <script type="text/javascript" src="__LYUI__/js/lyui.extend.min.js"></script>
</block>