<script type="text/javascript" src="__PUBLIC__/Headoffice/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Headoffice/js/index.js"></script>
	<script src="__PUBLIC__/Headoffice/js/jquery.js"></script>
	<script src="__PUBLIC__/Headoffice/js/main.js"></script>
<!-- js 控制表格隔行变色 -->
	<script type="text/javascript">
		$(function(){
			$("table tr:odd").css('background','#DBEAF9');
			$("table tr:even").css('background','#FEF8BA');

		});
	</script>
     <include file="common:css" />
    <!-- 头部 -->
      <include file="common:head" />
      <!-- 头部结束 -->
      <!-- 左侧 -->
      <include file="common:side" />
		<div class="xxgl">
			<div class="xxgl_bottom">
				<h3>轮播图管理</h3>
			
				<style>
					.content_table tr th{height: 35px;
						text-align: center;
						background:#FF9D46;
						color: #fff;
						border-left: 1px solid #fff;}
				</style>
				<div class="jhm_bottom_c">
					<table class="content_table">
						<tr>
							<th>编号</th>
							<th style="padding: 0px 5px;">图片</th>
							<th style="padding: 0px 10px;">分类</th>
							<th style="padding: 0px 10px;">排序</th>
							<th style="padding: 0px 10px;">操作</th>
						</tr>
					  <foreach name='banerinfo' item='v' key='k'>
						<tr style="background:#DBEAF9;">
							<td>{$v.baner_id}</td>
							<td style="width:300px;"><img src="__PUBLIC__/Uploads/{$v.baner_url}" style="width:45%;"></td>
							<td>{$v['baner_type']==0?'轮播图':'广告图'}</td>
							<td>{$v.baner_px}</td>
							<td> <a href="__MODULE__/Goods/ht_baneradd/baner_id/{$v.baner_id}" style="color: #144ff7">编辑</a> |<a href="__MODULE__/Goods/ht_banerdelete/baner_id/{$v.baner_id}" onclick ="return confirm('确认删除？');">删除</a></td>
						</tr>
			</foreach>
		    </table>	
     <div class="xxgl_bottom_b">
		 <div class="page">
          {$page}
        </div>
         <style>
	  	.page{text-align: center;}
	  	.page a{color: #a4a4a4;}
	  	.prev{text-align: center;  border: 1px solid #ddd;  padding: 0 6px;}
	  	.num{  padding: 0 10px;  border: 1px solid #ddd;}
	  	.page .current{ padding: 0 10px;  border: 1px solid #ddd;  margin: 0px 10px;}
	  	.next{text-align: center;  border: 1px solid #ddd;  padding: 0 6px;}
	  </style>
	</div>
			</div>
		</div>
	</div>
	 <include file="common:js" />	   
</body>
</html>
<script type="text/javascript">
$('.com_type').change(function(){
	var com_type=$(this).val();
	var id=$(this).prev('input').val();
	if(com_type=='' || id==''){
		return;
	}
	if(confirm('确实要修改吗?')){
		$.ajax({
			url:"{:U('Index/setShow')}",
			data:{'id':id,'com_type':com_type},
			type:'post',
			datatype:'json',
			success: function(mes){
				alert(mes);
			}
		});
	}
});
</script>

