<extend name="Public/layout"/>
<block name="style" >
    <link rel="stylesheet" type="text/css" href="__LYUI__/css/lyui.extend.min.css">
    <link rel="stylesheet" type="text/css" href="__ADMIN_CSS__/style.css">


</block>

<block name="main">
   <div id="main" class="col-xs-12 col-sm-9 main" style="overflow-y: scroll;">
        <!-- 面包屑导航 -->
        <ul class="breadcrumb">
            <li><i class="fa fa-map-marker"></i></li>
            <foreach name="_menu_tab['name']" item="tab_v" >
            <li class="text-muted">{$tab_v}</li>
            </foreach>
        </ul>

        <!-- 主体内容区域 -->
        <div class="tab-content ct-tab-content">
            <div class="panel-body">
                <div class="builder formbuilder-box">
                        
                        <div class="form-group"></div>

                        <!-- 顶部工具栏按钮 -->
                        <div class="builder-toolbar">
                            <div class="row">
                                <!-- 工具栏按钮 -->
                                    <!-- <div class="col-xs-12 col-sm-8 button-list clearfix">
                                        <div class="form-group">
                                            <a title="新增" class="btn btn-primary-outline btn-pill" href="{:U('User/add')}">新增</a>&nbsp;
                                        </div>
                                    </div> -->

                                <!-- 搜索框 -->
                                <div class="col-xs-12 col-sm-12 clearfix">
                                        <form class="form" method="get" action="">
                                            <div class="form-group right">

                                                <div style="float:left;width:150px;margin-right:20px" class="">
                                                    <input type="text" name="date_start" class="search-input form-control date" value="{$_GET.date_start}" placeholder="开始日期">
                                                </div>
                                                <div style="float:left;width:150px;margin-right:20px" class="">
                                                    <input type="text" name="date_end" class="search-input form-control date" value="{$_GET.date_end}" placeholder="结束日期">
                                                </div>

                                                <div style="float:left;width:120px;margin-right:20px" class="">
                                                    <select name="querytype" class="form-control lyui-select select">
                                                        <option  value="userid">ID号</option>
                                                         <option {eq name=":input('get.querytype')" value="mobile" }selected="true"{/eq}  value="mobile">手机</option>
                                                        <option {eq name=":input('get.querytype')" value="account" }selected="true"{/eq}  value="account">账号</option>
                                                    </select>                                            
                                                </div>

  
                                                <div style="width:250px" class="input-group search-form">
                                                    <input  type="text" name="keyword" class="search-input form-control" value="{$_GET.keyword}" placeholder="输入搜索内容">
                                                    <span class="input-group-btn"><a class="btn btn-default search-btn"><i class="fa fa-search"></i></a></span>
                                                </div>
                                            </div>
                                        </form>
                                    </div>



                            </div>
                        </div>
                        

                        <style type="text/css">
                            tr,td{
                               margin: 0 !important;
                               padding: 5px 5px !important;
                            }
                        </style>

                        <!-- 数据列表 -->
                        <div class="builder-container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="builder-table">
                                        <div class="panel panel-default table-responsive">
                                            <table class="table table-bordered table-striped table-hover">
                                              <thead>
                                                <tr>
                                                    <th>UID</th>
                                                    <th>用户</th>
                                                    <th>财富</th>
                                                    <th>注册</th>
                                                    <th>上级</th>
                                                    <th>直推</th>

                                                    <th>状态</th>
                                                    <th style="max-width:20%" >操作</th>
                                                </tr>
                                            </thead>
                                            <?php 

                                                $store=M('store');
                                             ?>
                                                <tbody>
                                                    <volist name="list" id="data">
                                                     <php>if(!($_SESSION["user_auth"]["uid"]<>1 && $data['yinbi']==1)){</php>
                                                        <tr>
                                                        
                                                            <td>{$data['userid']}</td>
                                                            <td>
                                                                账号：{$data['account']} <br />
                                                                姓名：{$data['username']} <br />
                                                                手机：{$data['mobile']}
                                                            </td>
                                                            <!-- 财富 -->
                                                            <td style="white-space: nowrap;" >
                                                          
                                                               余额：<span style="color:#dc3300" >{$data['cangku_num']+0}</span>
                                                               <br />
                                                               积分：<span style="color:#dc3300" >{$data['fengmi_num']+0}</span>
                                                            </td>
                                                            
                                                            <td>{$data['reg_date']|date='Y-m-d H:i:s',###}</td>
                                                            <td>
                                                                {$data.pid|get_parent_account}
                                                            </td>
                                                            <td>
                                                                <?php echo M('user')->where(array('pid'=>$data['userid']))->count(1); ?>人

                                                            </td>

                                                            <td>
                                                               <eq name="data['status']" value="1" >
                                                                    <i class="fa fa-check text-success"></i>
                                                               <else />
                                                                    <i class="fa fa-ban text-danger"></i>
                                                               </eq>
                                                            </td>
                                                            <td>


                                                                <a name="edit" title="编辑" class="<php>if(!in_array(1,$hylb)) echo "bky";</php>   label label-primary-outline label-pill" href="{:U('User/edit',array('id'=>$data['userid']))}">编辑</a>

                                                                <eq name="data['status']" value="1" >
                                                                <a name="forbid" title="锁定" class="<php>if(!in_array(3,$hylb)) echo "bky";</php>   label label-warning-outline label-pill ajax-get confirm" href="{:U('User/setStatus',array('status'=>forbid,'ids'=>$data['userid'],'model'=>'User'))}">锁定</a>
                                                                <else />
                                                                <a name="forbid" title="解锁" class="<php>if(!in_array(3,$hylb)) echo "bky";</php>   label label-success-outline label-pill ajax-get confirm" href="{:U('User/setStatus',array('status'=>resume,'ids'=>$data['userid'],'model'=>'User'))}">解锁</a>
                                                                </eq>
                                                                <div style="height:10px" ></div>

                                                                 <a name="edit" title="修改财富" class="<php>if(!in_array(2,$hylb)) echo "bky";</php>   label label-primary-outline label-pill" href="{:U('User/AddFruits',array('id'=>$data['userid']))}">财富</a>

                                                                 <php>if($_SESSION["user_auth"]["uid"]==1){</php>
                                                                  <if condition="$data['yinbi']==0">
                                                                  <a name="forbid1" title="对其它管理员隐蔽其信息" class="<php>if(!in_array(4,$hylb)) echo "bky";</php>   label label-success-outline label-pill ajax-get confirm"  href="{:U('User/setStatus1',array('id'=>1,'userid'=>$data['userid']))}">隐蔽</a>
                                                                  <else/>
                                                                  <a name="forbid1" title="取消对其它管理员隐蔽其信息" class="<php>if(!in_array(4,$hylb)) echo "bky";</php>   label label-success-outline label-pill ajax-get confirm"  href="{:U('User/setStatus1',array('id'=>0,'userid'=>$data['userid']))}">取消隐蔽</a>

                                                                  </if>
                                                                  <php>}</php>



                                                                 <a title="登录" target="_blank" class="<php>if(!in_array(5,$hylb)) echo "bky";</php>   label label-primary-outline label-pill" href="{:U('User/userlogin',array('userid'=>$data['userid']))}">登录</a>
                                                        
                                                        </tr>
                                                        <php>}</php>
                                                    
                                                    </volist>

                                                    <empty name="list">
                                                        <tr class="builder-data-empty">
                                                            <td class="text-center empty-info" colspan="20">
                                                                <i class="fa fa-database"></i> 暂时没有数据<br>
                                                            </td>
                                                        </tr>
                                                    </empty>
                                                </tbody>
                                            </table>
                                        </div>

                                        <notempty name="table_data_page">
                                            <ul class="pagination">{$table_data_page}</ul>
                                        </notempty>
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>
            </div>
    </div>                   
</div>
</block>

<block name="script">
     <script type="text/javascript">
        $('.date').datetimepicker({
            format: 'yyyy-mm-dd',
            language:"zh-CN",
            minView:2,
            autoclose:true,
            todayBtn:1, //是否显示今日按钮
        });
 


    $(document).ready(function(){
  
     $(".bky").click(function(){
      
        this.href="###";
        alert("您无权限访问");  
        return false;     

        });

    });
</script>
    <script type="text/javascript" src="__LYUI__/js/lyui.extend.min.js"></script>
</block>