
.tree li{
	list-style: none;
	/*height: 30px;
    margin-top: 15px;*/
}
.tree ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.tree >ul>li{

	border-bottom:1px solid #ccc;
	padding-left:30px;
	
}

.tree li span{
	line-height: 30px;
}
.icon-folder-open{

	cursor: pointer;
    background: url(./bg_icon.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}

.icon-folder-open{
	cursor: pointer;
    background: url(./bg_icon.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}

.icon-minus-sign{
	background-position: -125px -25px;
}
.icon-plus-sign{
	background-position: -100px -25px;
}
.add_next{

	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	background: url(./bg_icon.png) no-repeat 0 0;
	margin-left:10px;
}

.icon-leaf{
	    display: inline-block;
	    margin-left: 15px;
	    height: 21px;
	    vertical-align: middle;
	    background-image: url(./tab_sign.png);
	    background-repeat: no-repeat;
	    width: 55px;
   		background-position: 0 0;
}