
       <include file="common:css" />
 
    <!-- 头部 -->
      <include file="common:head" />
      <!-- 头部结束 -->
      <!-- 左侧 -->
      <include file="common:side" />

		<div class="xxgl">
			<div class="jfsp_bottom">
				<h3>商品管理</h3>
				<div class="jfsp_bottom_t">
					<span>选择</span>
	           		<form>   
	             	<select class="form-select" input class="btn3" name="xm" type="text" style="width: 131px;height: 22px;border:1px solid #ddd;color: #000;font-size: 12px;"/>
		                <option value="">商品类别</option>
						<option value="">商品一</option>
						<option value="">产品二</option>
		            </select>
		            编号
		            <input class="btn3" name="xm" type="text" style="width: 100px;height: 22px;border:1px solid #dcdcdc;color: #a4a4a4"/>
	             	<input class="btn3" name="xm" value="订单偏号" type="text" style="width: 169px;height: 22px;border:1px solid #dcdcdc;color: #a4a4a4"/>
	                <div class="an3"><a href="#">提交搜索</a></div>
	            	</form>
				</div>

					<ul id="ul">
						<li>产品管理</li>
						<li class="current">产品分类管理</li>
						<li>添加产品 </li>
						<li>添加产品类别</li>
					</ul>
						
						<div class="show5">
							<form>
							<em>产品类名称</em>
				            <input type="text" value="62年的麻辣" class="text2"/>
					       	</form>
					       	<em>所属产品类</em>
			             	<select input class="btn3" name="xm" value="绿色食品" type="text"/>
				                <option value="">绿色食品</option>
								<option value="">绿色食品</option>
								<option value="">绿色食品</option>
				            </select>
			       			<form>
							<em>商品编号</em>
				            <input type="text" value="latiao" class="text2" style="width: 138px;" />
			       			</form>
			       			<form>
							<em>售价</em>
				            <input type="text" value="30" class="text2" style="width: 138px;" />元
			       			</form>
			       			<form>
							<em>库存</em>
				            <input type="text" value="" class="text2" style="width: 138px;" />
			       			</form>
			       			<form>
							<em>产品顺序</em>
				            <input type="text" value="0" class="text2" style="width: 138px;" />（ 数值越大，拍列越前 ）
			       			</form>
			       			<form>
							<em>是否推荐</em>
				            <label><input name="Fruit" type="radio" class="xd" />是 </label>
				            <label><input name="Fruit" type="radio" class="xd" />否 </label>
			       			</form>
			       				<h4>产品图片</h4>
				       			<form>
								<em>放大镜缩略图</em>
					            <input type="text" value="" class="text2"/><span><a href="#">选择图片</a><em style="ma