     <include file="common:css" />
 
    <!-- 头部 -->
      <include file="common:head" />
      <!-- 头部结束 -->
      <!-- 左侧 -->
      <include file="common:side" />
	
		<div class="xxgl">
			<div class="xxgl_bottom">
				<h3>会员公告管理</h3>
				<div class="tjwz_bottom_t">
					<p style="margin-left:380px;"><a href="ht_tjwz.html">添加文章</a></p>
					<p><a href="#">文章列表</a></p>
				</div>
			</div>

			<div class="xxgl_bottom">
				<h3>修改文章</h3>
				<div class="nr1">
					<form>
					<p>内容标题</p>
		            <input type="text" class="textt"/>
		            </form>
		            <p>文章内容</p>
		            <p style="margin-bottom: 50px;"><img src="__PUBLIC__/Headoffice/images/img.jpg">
		            <em><a href="#">修改</a></em>
	       			<i><a href="#">取消</a></i>
		            </p>
				</div>
			</div>
		</div>
	</div>
	  <include file="common:js" />	
</body>
</html>

