
     <include file="common:css" />
 
    <!-- 头部 -->
      <include file="common:head" />
      <!-- 头部结束 -->
      <!-- 左侧 -->
      <include file="common:side" />
	  
	   <style>
        body{
            font-family:'microsoft yahei';
            }
        em{
            font-style:normal;
            font-size:14px;
            }
            .form-group {
        position: relative;
        /*padding-left:5px;*/
        padding-right: 5px;
    }

    .form-group-select {
        /*padding-left: 1px;*/
    }

    .form-control,
    .simulation-input {
        width: 100%;
        line-height: 16px;
        font-size: 12px;
        color: #4b555b;
        background: none;
        outline: none;
        border: 1px solid #d3dcdd;
        background-color: #fff;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0 -1px;
        padding: 7px 8px;
        *padding-left: 0;
        *padding-right: 0;
        *text-indent: 8px;
        *float: left;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    }
        .float-left{
            float:left;
            }
</style>
		<div class="xxgl">
			<div class="xxgl_bottom">
				<h3>资源开发明细</h3>
				<div class="xxgl_bottom_t">
	           		<form>
	           			<span>查找:</span>
		             	<select class="input1">
						
			                <option value="">请选择类型</option>
							<option value="">一类</option>
							<option value="">二类</option>
		          		 </select>
		          		 <select class="input1">
						
			                <option value="">请选择级别</option>
							<option value="">一级</option>
							<option value="">二级</option>
		          		 </select>
		          		 <input class="input1" placeholder="会员编号"></input>

		             	<!--  <span>日期:</span>
		             	<input class="btnt1" placeholder="03/18/2013" /></input> -->
	<div class="container">
    <div class="inner">

        <div class="service-wrap">
            <div class="main-form">
                <div class="table-form service-form">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table table-cell">
                        <tbody>
  <!--                           <tr>
                                <th width="14%"><span>时间：</span></th>
                                <td>
                                    <div class="form-group float-left w140">
                                        <input type="text" name="datepicker" id="datetimepicker1" class="form-control" value="9:00"/>
                                    </div>
                                    <