
     <include file="common:css" />
 
    <!-- 头部 -->
      <include file="common:head" />
      <!-- 头部结束 -->
      <!-- 左侧 -->
      <include file="common:side" />
		<div class="xxgl">
			<div class="xxgl_bottom">
				<h3>会员列表</h3>
				<div class="xxgl_bottom_t">
					<span style="float: left;">搜索</span>
	           		<form>   
	             	<select class="form-select" input class="btn3" name="xm" value="会员类型" type="text" style="width: 131px;height: 22px;border:1px solid #dcdcdc;color: #a4a4a4;font-size: 12px;margin-top: 14px;"/>
		                <option value="">会员类型</option>
						<option value="">198会员</option>
						<option value="">198会员</option>
		            </select>
	             	<input class="btn3" name="xm" value="会员名称" type="text" style="width: 169px;height: 22px;border:1px solid #dcdcdc;color: #a4a4a4;margin-top: 14px;"/>
	                <div class="an3"><a href="#">提交搜索</a></div>
	            	</form>
				</div>
				<div class="hylb_bottom_c">
						<dl>
							<dt style="width: 116px;">会员编号</dt>
						</dl>
						<dl>
							<dt style="width: 116px;">真实姓名</dt>
						</dl>
						<dl>
							<dt style="width: 116px;">上级编号</dt>
						</dl>
						<dl>
							<dt style="width: 116px;">注册时间</dt>
						</dl>
						<dl>
							<dt style="width: 128px;">上次登录时间</d