<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{$config['SITE_TITLE']}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />

    <!-- Link Swiper's CSS -->

    <link rel="stylesheet" type="text/css" href="__CSS__/style.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/foot.css">

    <link rel="stylesheet" href="__CSS__/head.css">
    <link rel="stylesheet" href="__ICON__/iconfont.css">
    <script type="text/javascript" src="__JS__/jquery-1.7.1.min.js"></script>

    <script type="text/javascript" src="__JS__/jquery.touchSlider.js"></script>
    <!-- Demo styles -->


</head>
<body>
<div class="header">
    <div class="header_l">
      <a href="javascript:window.history.go(-1);"><img src="__IMG__/lpg.png" alt=""><span>收藏</span></a>

    </div>
    <div class="header_c"><h1></h1></div>
    <div class="header_r"><a href="{:U('Public/news')}"><em class="xxd"></em><i class="iconfont"></i><p>消息</p></a></div>
    <!-- <span><a href=""><img src="" alt=""></a></span> -->
</div>

<div class="edit"><input type="radio">全选<a href="">完成</a></div>
<!-- 1111111 -->
<div class="maidb_edit">
    <div class="maidb_edit_cc"><input type="checkbox"></div>
    <div class="maidbl_bbl" style="width: 23%;"><img src="__IMG__/ccs.jpg" alt=""></div>
    <div class="maibdr_bbr" style="width: 66%;">
        <p onClick="{:U('Home/details')}">苹果6手机壳挂绳iphone6plus硅胶全包软6s韩国创意流苏六卡通女款</p>
        <p class="pr">￥20.5</p>
    </div>
    <div style="clear: both;"></div>
</div>
<div style="height: 2vmin;background: #f2f2f2;"></div>

<!-- 22222222 -->
<div class="maidb_edit">
    <div class="maidb_edit_cc"><input type="checkbox"></div>
    <div class="maidbl_bbl" style="width: 23%;"><img src="__IMG__/ccs.jpg" alt=""></div>
    <div class="maibdr_bbr" style="width: 66%;">
        <p onClick="{:U('Home/details')}">苹果6手机壳挂绳iphone6plus硅胶全包软6s韩国创意流苏六卡通女款</p>
        <p class="pr">￥20.5</p>
    </div>
    <div style="clear: both;"></div>
</div>
<div style="height: 2vmin;background: #f2f2f2;"></div>

<!-- 3333333 -->
<div class="maidb_edit">
    <div class="maidb_edit_cc"><input type="checkbox"></div>
    <div class="maidbl_bbl" style="width: 23%;"><img src="__IMG__/ccs.jpg" alt=""></div>
    <div class="maibdr_bbr" style="width: 66%;">
        <p onClick="{:U('Home/details')}">苹果6手机壳挂绳iphone6plus硅胶全包软6s韩国创意流苏六卡通女款</p>
        <p class="pr">￥20.5</p>
    </div>
    <div style="clear: both;"></div>
</div>
<div style="height: 2vmin;background: #f2f2f2;"></div>

<!-- 444444444 -->
<div class="maidb_edit">
    <div class="maidb_edit_cc"><input type="checkbox"></div>
    <div class="maidbl_bbl" style="width: 23%;"><img src="__IMG__/ccs.jpg" alt=""></div>
    <div class="maibdr_bbr" style="width: 66%;">
        <p onClick="{:U('Home/details')}">苹果6手机壳挂绳iphone6plus硅胶全包软6s韩国创意流苏六卡通女款</p>
        <p class="pr">￥20.5</p>
    </div>
    <div style="clear: both;"></div>
</div>
<div style="height: 2vmin;background: #f2f2f2;"></div>

<!-- 5555555 -->
<div class="maidb_edit">
    <div class="maidb_edit_cc"><input type="checkbox"></div>
    <div class="maidbl_bbl" style="width: 23%;"><img src="__IMG__/ccs.jpg" alt=""></div>
    <div class="maibdr_bbr" style="width: 66%;">
        <p>苹果6手机壳挂绳iphone6plus硅胶全包软6s韩国创意流苏六卡通女款</p>
        <p class="pr">￥20.5</p>
    </div>
    <div style="clear: both;"></div>
</div>
<div style="height: 2vmin;background: #f2f2f2;"></div>


<div style="height: 15vmin;"></div>
<div class="qxsc"><a href="">取消收藏</a></div>

</body>
</html>
