<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui">
  <title>余额详情</title>
  <link rel="stylesheet" href="__CSS__/balance_style.css">
</head>
<body style="background-color:#f2f2f2">
<div class="divpad whitebg">
    	<ul class="balance_list"> 
        	<li>流水号<span>100012345</span></li>
            <li>操作说明<span>购买余额</span></li>
            <li>操作金额（元）<span class="red">＋1000.00</span></li>
            <li>操作时间<span>2017-09-09 17:25:30</span></li>
            <li class="noborder">打款凭证<img src="__IMG__/pingzheng2.jpg" class="pingzheng2"></li>
        </ul>
    </div>


</body>
</html>
 