<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui">
  <title>完成</title>
  <link rel="stylesheet" href="__CSS__/balance_style.css">
</head>
<body class="whitebg">
<!--充值余额成功-->
<a href="http://zhu12.hbb98.com/Shop/Home/balance.html">
<img src="__IMG__/rechargeOk.png" class="ok_img">
<h1 class="text_ok">恭喜您出售成功</h1>
<span class="tiaozhuan"><i>5</i>&nbsp;秒后页面跳转</span></a>

</body>
</html>
 