<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>优享商城</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />

    <!-- Link Swiper's CSS -->
    
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/foot.css">

    <link rel="stylesheet" href="__CSS__/head.css">
    <link rel="stylesheet" href="__ICON__/iconfont.css">
    <script type="text/javascript" src="__JS__/jquery-1.7.1.min.js"></script>

    <script type="text/javascript" src="__JS__/jquery.touchSlider.js"></script>    
    <!-- Demo styles -->
</head>
<body style="background: #f9f9f9;">
<div class="header">
    <div class="header_l" style="width: 15%;">
      <a href="javascript:window.history.go(-1);"><img src="__IMG__/lpg.png" alt=""></a>
   
    </div>
    <div class="header_c" style="width: 65%;"> <h1><input type="text" class="textsoso" placeholder="连衣裙" style="padding-left: 6%;"></h1></div>
    <div class="header_r" style="width: 15%;line-height: 13vmin;"><a href="" style="font-size: 4.5vmin;">搜索</a></div>
    <!-- <span><a href=""><img src="" alt=""></a></span> -->
</div>

<div class="caor_tb">
    <h3>最近搜索</h3>
    <p>暂无搜索历史</p>
</div>

<div class="caor_tb">
    <h3>猜你喜欢</h3>
    <ul>
        <li><a href="">连衣裙</a></li>
        <li><a href="">夏凉被</a></li>
        <li><a href="">双肩包</a></li>
        <li><a href="">打底裤</a></li>
        <li><a href="">连衣裙</a></li>
        <li><a href="">洗发水</a></li>
        <li><a href="">凉鞋</a></li>
        <li><a href="">口红</a></li>
    </ul>
</div>

</body>     
</html>
