<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> 优享商城</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />

    <!-- Link Swiper's CSS -->
    
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/foot.css">

    <link rel="stylesheet" href="__CSS__/head.css">
    <link rel="stylesheet" href="__ICON__/iconfont.css">
    <script type="text/javascript" src="__JS__/jquery-1.7.1.min.js"></script>

    <script type="text/javascript" src="__JS__/jquery.touchSlider.js"></script>    
    <!-- Demo styles -->

</head>
<body>
<div class="header">
    <div class="header_l">
      <a href="javascript:window.history.go(-1);"><img src="__IMG__/lpg.png" alt=""><span>分享至</span></a>
   
    </div>
    <div class="header_c"><h1></h1></div>
    <div class="header_r"><a href=""></a></div>
    <!-- <span><a href=""><img src="" alt=""></a></span> -->
</div>

<div class="share">
   <p><input type="radio">全选</p>
   <table style="width: 100%;">
       <tr>
           <td><img src="__IMG__/txx.jpg" alt=""></td>
           <td>安琪拉</td>
           <td><em class="tdmn">上</em></td>
           <td><input type="checkbox"></td>
       </tr>
       <tr>
           <td><img src="__IMG__/txx.jpg" alt=""></td>
           <td>安琪拉</td>
           <td><em>1</em></td>
           <td><input type="checkbox"></td>
       </tr>
       <tr>
           <td><img src="__IMG__/txx.jpg" alt=""></td>
           <td>安琪拉</td>
           <td><em>1</em></td>
           <td><input type="checkbox"></td>
       </tr>
       <tr>
           <td><img src="__IMG__/txx.jpg" alt=""></td>
           <td>安琪拉</td>
           <td><em>2</em></td>
           <td><input type="checkbox"></td>
       </tr>
       <tr>
           <td><img src="__IMG__/txx.jpg" alt=""></td>
           <td>安琪拉</td>
           <td><em>2</em></td>
           <td><input type="checkbox"></td>
       </tr>
       <tr>
           <td><img src="__IMG__/txx.jpg" alt=""></td>
           <td>安琪拉</td>
           <td><em>3</em></td>
           <td><input type="checkbox"></td>
       </tr>
       <tr>
           <td><img src="__IMG__/txx.jpg" alt=""></td>
           <td>安琪拉</td>
           <td><em>3</em></td>
           <td><input type="checkbox"></td>
       </tr>
       <tr>
           <td><img src="__IMG__/txx.jpg" alt=""></td>
           <td>安琪拉</td>
           <td><em>3</em></td>
           <td><input type="checkbox"></td>
       </tr>
        <tr>
           <td><img src="__IMG__/txx.jpg" alt=""></td>
           <td>安琪拉</td>
           <td><em>3</em></td>
           <td><input type="checkbox"></td>
       </tr>
   </table>
</div>

<div style="height: 15vmin;"></div>
<div class="share_f">
    <p>分 享</p>
</div>
</body>
</html>
