<extend name="Public:base" />

<block name="content">	
	
<table class="table table-striped table-bordered table-hover search-form">
	<thead>
		<th><input name="order_no" type="text" placeholder="输入订单号" value="{:I('order_no')}" /></th>
		<th><input name="user_phone" type="text" placeholder="输入账号" value="{:I('user_phone')}" /></th>		
		<th><input name="buy_name" type="text" placeholder="输入收货人" value="{:I('buy_name')}" /></th>		
		<th><input name="buy_phone" type="text" placeholder="输入收货号码" value="{:I('buy_phone')}" /></th>		
		<th>    				
			<select name="status">
				<option value="" <if condition="$status eq NULL">selected="selected"</if>>-选择状态-</option>
				<option value="0" <if condition="$status eq '0'">selected="selected"</if> >未付款</option>
				<option value="1" <if condition="$status eq 1">selected="selected"</if> >待发货</option>
				<option value="2" <if condition="$status eq 2">selected="selected"</if> >已发货</option>
				<option value="3" <if condition="$status eq 3">selected="selected"</if> >交易完成</option>

			</select>
		</th>
		<th>
			<a class="btn btn-primary" href="javascript:;" id="search" url="{:U('Order/duobao')}">查询</a>
		</th>
	</thead>
</table>	
	
	
<div class="row">
	<div class="col-xs-12">	
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>											
						<th>ID</th>
						<th>订单号</th> 
						<th>账号</th>
						<th>总计</th>
						<th>收货人</th>
						<th>收货号码</th> 						
						<th>状态</th>	
						<th>下单时间</th>					
						<th>操作</th>				
					</tr>
				</thead>
				<tbody>
						<volist name="list" id="v" empty="$empty">
						<tr>						
							<td>{$v.order_id}</td>
							<td>{$v.order_no}</td>
							<td>{$v.phone}</td>
							<td>{$v.buy_price}</td>
							<td>{$v.buy_name}</td>
							<td>{$v.buy_phone}</td>
								<!--<if condition="$v['uid'] == $v['seluid']">-->
								<!--<if condition="$v['uid'] == $v['seluid']">-->
							<td>
								<eq name="v['uid']" value="$v['seluid']">
									已中
									<else />
									未中
								</eq>
							<td>
								<?php echo date('Y-m-d H:i:s',$v['time']); ?>
							</td>
							<td>
								<a  class="btn btn-xs btn-info" href='{:U("Order/show_order",array("id"=>$v["order_id"]))}'>
									<i class="icon-eye-open bigger-120"></i>
								</a> 
								
								<!-- <a  class="btn btn-xs btn-info" href='{:U("Order/print_order",array("id"=>$v["order_id"]))}'>
									<i class="icon-print bigger-120"></i>
								</a> 
								 -->
								<a class="delete btn btn-xs btn-danger" href='{:U("Order/del",array("id"=>$v["order_id"]))}' >
									<i class="icon-trash bigger-120"></i>
								</a>
							</td>
						</tr>
						</volist>	
						
						<tr>
							<td colspan="20" class="page">{$page}</td>
						</tr>
				</tbody>
				
			</table>
		</div>
	</div>
</div>
</block>
<block name="javascript">
<script>	
$(function(){
   $("#search").click(function () {
        var url = $(this).attr('url');
        var query = $('.search-form').find('input,select').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
        query = query.replace(/^&/g, '');
        if (url.indexOf('?') > 0) {
            url += '&' + query;
        } else {
            url += '?' + query;
        }
        window.location.href = url;
    });	
});
</script>
</block>