
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1495677893841'); /* IE9*/
  src: url('iconfont.eot?t=1495677893841#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1495677893841') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1495677893841') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1495677893841#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mima:before { content: "\e61b"; }

.icon-weixin:before { content: "\e603"; }

.icon-gerenzhongxin:before { content: "\e611"; }

.icon-jifen:before { content: "\e60a"; }

.icon-mima1:before { content: "\e633"; }

.icon-shouji:before { content: "\e602"; }

.icon-fenxiang:before { content: "\e629"; }

.icon-shoucang:before { content: "\e60c"; }

.icon-gouwuche:before { content: "\e612"; }

.icon-guanbi:before { content: "\e609"; }

.icon-lottery:before { content: "\e61d"; }

.icon-dingdan:before { content: "\e618"; }

.icon-zhengpin:before { content: "\e69f"; }

.icon-shouyi:before { content: "\e65a"; }

.icon-score:before { content: "\e606"; }

.icon-quanqiu:before { content: "\e6c0"; }

.icon-shouhou:before { content: "\e62c"; }

.icon-zhifubao:before { content: "\e7da"; }

.icon-vip-dianping:before { content: "\e614"; }

.icon-shangpinfenlei:before { content: "\e690"; }

.icon-jiantou:before { content: "\e655"; }

.icon-yinxingqia2:before { content: "\e60b"; }

.icon-shangcheng:before { content: "\e694"; }

.icon-gambit:before { content: "\e6f3"; }

.icon-yongjin:before { content: "\e6d2"; }

.icon-zhanghaoshezhi_icon:before { content: "\e613"; }

.icon-triangle:before { content: "\e615"; }

.icon-qiujiurenyuandianwei:before { content: "\e61c"; }

.icon-zengsong:before { content: "\e68d"; }

.icon-zhuanzeng:before { content: "\e624"; }

.icon-down:before { content: "\e688"; }

.icon-sousuo_sousuo:before { content: "\e601"; }

.icon-shouye-shouye:before { content: "\e50a"; }

.icon-gongju:before { content: "\e6bc"; }

.icon-yanzhengmayanzheng:before { content: "\e6a8"; }

.icon-shouyi1:before { content: "\e64b"; }

.icon-shuizhanjiameng:before { content: "\e625"; }

.icon-youzhigongyingshang:before { content: "\e63a"; }

