<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui">
  <title>{$config['SITE_TITLE']}s</title>
  <link rel="stylesheet" href="__CSS__/product.css">
  <link rel="stylesheet" href="__ICON1__/iconfont.css">
</head>
<body>
 <!-- 轮播图 -->
    <div class="fxm_header">
       <div class="fxm_left"><a href="{:U('member/mine')}"><img src="__IMG__/left0.png"></a></div>
       <div class="fxm_center">我的收藏</div>
       <!-- <div class="fxm_right"><img src="__IMG__/zf.png"></div> -->
    </div>
    <div style="margin-top: 13vmin"></div>

<div id="tbh5v0">
    <div class="td">
      <div class="myorder pinglun">
           <ul>
             <li style="     border-top-left-radius: 2vmin;
     border-bottom-left-radius: 2vmin;padding-bottom: 0; "><a href="{:U('Member/collection')}">商品</a></li>
             <li class="ab" style="border:none;    border-top-right-radius: 2vmin;
    border-bottom-right-radius: 2vmin;"><a href="{:U('Dianpu/dianpu')}">店铺</a></li>
           </ul>
      </div>
    <div style="height: 14vmin;"></div>

      <div class="dianpu">
        <div class="dianpu_left">
          <div class="dp_logo"><img src="__IMG__/dp.png"></div>
            <div class="dp_mc">
              <h3>geruila歌瑞拉旗舰店</h3>
              <p>综合评价：4.95</p>
            </div>
          </div>
          <div class="dianpu_right">
            <ul>
              <li>描述相符<span>4.96</span></li>
              <li>服务态度<span>4.96</span></li>
              <li>服务态度<span>4.96</span></li>
            </ul>
          </div>

          <span class="anniuc"><a href="{:U('Dianpu/index')}">进入店铺</a></span>
          <span class="anniuc"><a href="###">取消收藏</a></span>
        </div>
      </div>

      <div class="dianpu">
        <div class="dianpu_left">
          <div class="dp_logo"><img src="__IMG__/dp.png"></div>
            <div class="dp_mc">
              <h3>geruila歌瑞拉旗舰店</h3>
              <p>综合评价：4.95</p>
            </div>
          </div>
          <div class="dianpu_right">
            <ul>
              <li>描述相符<span>4.96</span></li>
              <li>服务态度<span>4.96</span></li>
              <li>服务态度<span>4.96</span></li>
            </ul>
          </div>

          <span class="anniuc"><a href="dianpu.html">进入店铺</a></span>
          <span class="anniuc"><a href="###">取消收藏</a></span>
        </div>
      </div>

       <div class="dianpu">
        <div class="dianpu_left">
          <div class="dp_logo"><img src="__IMG__/dp.png"></div>
            <div class="dp_mc">
              <h3>geruila歌瑞拉旗舰店</h3>
              <p>综合评价：4.95</p>
            </div>
          </div>
          <div class="dianpu_right">
            <ul>
              <li>描述相符<span>4.96</span></li>
              <li>服务态度<span>4.96</span></li>
              <li>服务态度<span>4.96</span></li>
            </ul>
          </div>

          <span class="anniuc"><a href="dianpu.html">进入店铺</a></span>
          <span class="anniuc"><a href="###">取消收藏</a></span>
        </div>
      </div>


</div>



</body>
</html>
